@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --background: #f9f9f9;
  --primary: #fd951f;
  --primary-dark: #ee6600;
  --secondary: #1fd4fd;
  --red: #d00000;
  --red-dark: #9d0208;
  --purple-light: #9d4edd;
  --purple: #7b2cbf;
  --purple-dark: #5a189a;
}

* {
  margin: 0;
  padding: 0;
  
  text-decoration: none;
  list-style-type: none;

  box-sizing: border-box;
  border: none;
  outline: 0;
}

html,body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
}

textarea {
  font-family: 'Roboto', sans-serif;
  resize: vertical;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

.button:hover {
  background: var(--primary-dark);
}

.button {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  background: var(--primary);
  color: #fff;

  display: block;
  margin: 1rem 0;
  padding: .8rem 1rem;

  width: 100%;
  border-radius: 4px;

  align-self: end;

  cursor: pointer;

  transition: all 200ms ease;
}

.button.edit:hover {
  background: var(--purple);
}
.button.edit {
  background: var(--purple-light);
}

.button.delete:hover {
  background: var(--red);
}
.button.delete {
  background: #bdbdbd;
}

/* HEADER */
header, footer { 
  background-color: #000;
  color: #fff;
  
  max-width: 100%;
  padding: 32px 0;

  text-align: center;
}

header .container {
  display: grid;
  grid-template-columns: 220px 1fr 280px;
  align-items: center;
  gap: 24px;
}

header .container a {
  justify-self: start;
}

/* LOGO */
.logo h1 {
  color: #fff;
  font-size: 36px;
  line-height: 46px; 
}

.logo h2 {
  color: var(--primary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* SEARCH - HEADER */
.search input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}

.primary ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary ul li a:hover{
  color: var(--primary);
}

.primary ul li a {
  display: flex;
  align-items:center;
  
  color: #fff;

  transition: color 200ms ease;
}

.primary ul li a i {
  margin-right: 8px;
}

/* FORM - PRODUCTS */
section.form {
  background: #fff;

  padding: 32px 24px;
  margin: 32px auto;

  box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .5);
  border: 1px solid #efefef;
  border-radius: 4px;

  width: min(90%, 700px);
}

section.form .header h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: .7px;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 1rem;
}

form .fields {
  margin-bottom: 4rem
}

form .input-group {
  margin-bottom: 1rem;
}


form .input-group textarea {
  min-height: 10rem;
}

form .input-group > label {
  display: inline-block;
  color: #777;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .4rem;
}

form .input-group input[type="text"],
form .input-group input[type="number"],
form .input-group textarea,
form .input-group select
 {
  width: 100%;
  padding: .5rem .4rem;
  border-radius: 4px;
  border: 1px solid #efefef;
  font-size: 1rem;

  box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);  
}

form .input-group span {
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 16px;
  color: #fff;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Image Upload */
form .input-group #photos-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 200px;
}

form .input-group #photos-upload p {
  padding: .5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background: var(--primary);
  color: white;

  width: 100%;
  text-align: center;

  font-size: .9rem;
}

form .input-group #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;

  opacity: 0;

  cursor: pointer;
}

form .input-group #photos-preview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .5rem;
  width: 100%;
  margin: .5rem 0;
}

form .input-group #photos-preview img {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(255, 255, 255, 0.8);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  cursor: pointer;

  opacity: 0;

  transition: opacity 200ms ease-in-out;
}

#photos-preview .photo:hover i {
  opacity: 1;
}