@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --background: #f9f9f9;
  --primary: #fd951f;
  --primary-dark: #ee6600;
  --secondary: #1fd4fd;
  --red: #d00000;
  --red-dark: #9d0208;
  --purple-light: #9d4edd;
  --purple: #7b2cbf;
  --purple-dark: #5a189a;
}

* {
  margin: 0;
  padding: 0;
  
  text-decoration: none;
  list-style-type: none;

  box-sizing: border-box;
  border: none;
  outline: 0;
}

html,body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

textarea {
  font-family: 'Roboto', sans-serif;
  resize: vertical;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
}

.button:hover {
  background: var(--primary-dark);
}

.button {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  background: var(--primary);
  color: #fff;

  display: block;
  margin: 1rem 0;
  padding: .8rem 1rem;

  width: 100%;
  border-radius: 4px;

  align-self: end;

  cursor: pointer;

  transition: all 200ms ease;
}

.button.edit:hover {
  background: var(--purple);
}
.button.edit {
  background: var(--purple-light);
}

.button.delete:hover {
  background: var(--red);
}
.button.delete {
  background: #bdbdbd;
}

/* HEADER */
header, footer { 
  background-color: #000;
  color: #fff;
  
  max-width: 100%;
  padding: 32px 0;

  text-align: center;
}

header .container {
  display: grid;
  grid-template-columns: 220px 1fr 280px;
  align-items: center;
  gap: 24px;
}

header .container a {
  justify-self: start;
}

/* LOGO */
.logo h1 {
  color: #fff;
  font-size: 36px;
  line-height: 46px; 
}

.logo h2 {
  color: var(--primary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* SEARCH - HEADER */
.search input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 16px;
}

.primary ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary ul li a:hover{
  color: var(--primary);
}

.primary ul li a {
  display: flex;
  align-items:center;
  
  color: #fff;

  transition: color 200ms ease;
}

.primary ul li a i {
  margin-right: 8px;
}

/* FORM - PRODUCTS */
section.form {
  background: #fff;

  padding: 32px 24px;
  margin: 32px auto;

  box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .5);
  border: 1px solid #efefef;
  border-radius: 4px;

  width: min(90%, 700px);
}

section.form .header h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: .7px;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 1rem;
}

form .fields {
  margin-bottom: 4rem
}

form .input-group {
  margin-bottom: 1rem;
}


form .input-group textarea {
  min-height: 10rem;
}

form .input-group > label {
  display: inline-block;
  color: #777;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .4rem;
}

form .input-group input, 
form .input-group input[type="text"],
form .input-group input[type="number"],
form .input-group textarea,
form .input-group select
 {
  width: 100%;
  padding: .5rem .4rem;
  border-radius: 4px;
  border: 1px solid #efefef;
  font-size: 1rem;

  box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);  
}

form .input-group span {
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 16px;
  color: #fff;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Image Upload */
form .input-group #photos-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 200px;
}

form .input-group #photos-upload p {
  padding: .5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background: var(--primary);
  color: white;

  width: 100%;
  text-align: center;

  font-size: .9rem;
}

form .input-group #photos-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;

  opacity: 0;

  cursor: pointer;
}

form .input-group #photos-preview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .5rem;
  width: 100%;
  margin: .5rem 0;
}

form .input-group #photos-preview img {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(255, 255, 255, 0.8);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  cursor: pointer;

  opacity: 0;

  transition: opacity 200ms ease-in-out;
}

#photos-preview .photo:hover i {
  opacity: 1;
}

/* PRODUCT VIEW */
.product-single {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  padding: 2rem 1.5rem;
  margin: 2rem auto;

  box-shadow: 2px 2px 6px -4px rgba(63, 63, 63, 0.9);

  border: 1px solid #efefef;
  border-radius: 4px;
}

/* PRODUCT SINGLE GALLERY */
.product-single .gallery {
  width: 100%;
}

.product-single .highlight > img {
  width: 100%;
  height: 280px;
  object-fit: contain;
  object-position: 50% 50%;
  border: 1px solid #eee;
  cursor: zoom-in;
}

.product-single .gallery-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .3rem;
}

.product-single .gallery-preview img {
  height: 100px;
  width: 100%;

  object-fit: cover;

  opacity: 0.6;

  cursor: pointer;

  transition: opacity 200ms ease-in-out;
}

.product-single .gallery-preview img:hover,
.product-single .gallery-preview img.active {
  opacity: 1;
}

/* LIGHTBOX SINGLE */
.product-single .highlight .lightbox-target {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  overflow: hidden;
  z-index: 100;

  top: -100%;
  left: 0;

  opacity: 1;

  transition: opacity 400ms;
}

.product-single .highlight .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);

  width: 90%;
  height: 90%;

  object-fit: contain;
}

.product-single .highlight a.lightbox-close {
  width: 50px;
  height: 50px;
  color: white;
  position: absolute;
  top: -80px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}

/* PRODUCT VIEW INFO */
.product-single .info {
  display: grid;
  grid-template-rows: auto 2.2rem 2fr 1fr;
}

.product-single .info h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #333;
}

.product-single .info .published {
  color: #888;
  font-size: .8rem;
  line-height: 1.6rem;
}

/* PRICE-BUY */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: .5rem;
  border-top: 1px solid #eee;
}

.product-single .price-buy .price {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;

  display: flex;
  align-items: baseline;
}

.product-single .price-buy .price .old-price {
  text-decoration: line-through;
  font-size: .9rem;
  font-weight: normal;
  color: #999;

  margin-left: .5rem
}

.product-single .price-buy .buy button:hover {
  background: #2968c8;
}
.product-single .price-buy .buy button {
  background: #3483fa;

  font-size: .9rem;
  transition: background 200ms ease-in-out;
}

/* SHOP */
.shop h2 {
  margin: 2.5rem 0;
}

.shop .items { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.shop .product {
  display: grid;
  padding: .8rem 1.2rem;
  background-color: white;
  border: 1px solid #eee;
  border-radius: .3rem;
}

.shop .product .image {
  padding-top: 56.25%;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  margin-bottom: 1.5rem;
}

.shop .items h4 {
  margin: .5rem 0;
  font-weight: normal;
  color: #999;
}

.shop .items p {
  color: #101010;
  font-size: 1.5rem;
  font-weight: normal;
}

.shop .product .old-price {
  padding: 0;
  margin: .2rem 0;

  font-size: .9rem;
  color: #999;

  text-decoration: line-through;
}

/* SEARCH */
.search-products {
  display: grid;
  grid-template-columns: 200px 1fr;

  margin-top: 2.5rem;
}

.search-products .header {
  margin-bottom: 2.5rem;

  font-size: .9rem;
  color: #333;
}

.search-products .header h2 {
  font-size: 1.6rem;
  text-transform: capitalize;

  margin-bottom: .5rem;
}

.search-products nav h4 {
  margin-bottom: 1rem;

  color: #333;
  font-size: .9rem;
  text-transform: uppercase;
}

.search-products nav ul li {
  margin: .3rem 0;
}

.search-products nav ul li a {
  color: #777;
}

.search-products nav ul li a:hover {
  color: black;
  font-weight: bold;
}

/* USER REGISTER */
.user-register {
  max-width: 500px;
}

.user-register form input[name="cep"],
.user-register form input[name="password"],
.user-register form input[name="passwordRepeat"],
.user-register form input[name="cpf_cnpj"] {
  display: block;
  max-width: 60%;
}