.account {
  position: relative;
}

.account .submenu { 
  position: absolute;
  top: 32px;
  left: 0;
  margin-top: 8px;
  width: 150px;
  display: block;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -3px rgba(60, 60, 60, .5);
  transition: all 200ms;
  opacity: 0;
  visibility: hidden;
}

.account .submenu li a,
.account .submenu li button {
  color: #777;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  border-top: 1px solid #eee;
  display: inline-block;
  width: 100%;
}

.account .submenu li:first-child a {
  border: none;
}

.account .submenu li a:hover,
.account .submenu li button:hover {
  color: #111;
  font-weight: bold;
}

.account:hover .submenu {
  top: 0px;
  opacity: 1;
  visibility: initial;
}